* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}
//Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,400i,700');
//Variables
$black: #191919;
$white: #DEDEDE;

body {
  font-size: 16px;
}
//Prevents THREE.js canvas from creating scoll bars
canvas {
  display: block;
}
.hero {
  position: relative;
  background: $black;
  height: 100vh;
  width: 100vw;
  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 2rem;
  }
}
.center-text {
  text-align: center;
}
h1.underline {
  border-bottom: 1px solid $white;
  line-height: 6rem;
  margin-bottom: 20px;
}
h2.underline {
  border-bottom: 1px solid $white;
  line-height: 5rem;
}
h3.underline {
  border-bottom: 1px solid $white;
  line-height: 4rem;
}
h4.underline {
  border-bottom: 1px solid $white;
  line-height: 3rem;
}
h4.underline {
  border-bottom: 1px solid $white;
  line-height: 3rem;
}
h5.underline {
  border-bottom: 1px solid $white;
  line-height: 3rem;
}
h6.underline {
  border-bottom: 1px solid $white;
  line-height: 3rem;
}
p {
  font-size: 1rem;
}
